if TARGET_IMX95_19X19_EVK || TARGET_IMX95_15X15_EVK

config SYS_BOARD
	default "imx95_evk"

config SYS_VENDOR
	default "nxp"

config SYS_CONFIG_NAME
	default "imx95_evk"

config SM_CONFIG_NAME
	string "System Manager config name to power on M7MIX"
	default "mx95evkrpmsg"
	help
	  This string is the specified System Manager config name with which
	  the M7MIX will be powered on.

endif
