#
# BareMetal configuration
#

menu "BareMetal"

config BAREMETAL
	bool "Support BareMetal features"
	help
	  This provides a command to start BareMetal on slave
	  cores, and add some features to support BareMetal.

if BAREMETAL

config BAREMETAL_SLAVE_MODE
	bool "The slave core running BareMetal binary"
	default n
	help
	  the slave mode running on the slave cores

config ENABLE_WRITE_LOCK
	bool "lock the consol output for a core"
	default n

endif

config GPIO_COREID_SET
	bool "Enable GPIO for BareMetal"
	depends on BAREMETAL
if GPIO_COREID_SET
config GPIO_GPIO0_COREID
	int "The core GPIO0 assigned"
	default 0

config GPIO_GPIO1_COREID
	int "The core GPIO1 assigned"
	default 0

config GPIO_GPIO2_COREID
	int "The core GPIO2 assigned"
	default 0
endif

config I2C_COREID_SET
	bool "Enable I2C for BareMetal"
	depends on BAREMETAL
	default n

if I2C_COREID_SET
config SYS_I2C_MXC_I2C0_COREID
	int "The core I2C0 assigned"
	default 0

config SYS_I2C_MXC_I2C1_COREID
	int "The core I2C1 assigned"
	default 0

config SYS_I2C_MXC_I2C2_COREID
	int "The core I2C2 assigned"
	default 0

config SYS_I2C_MXC_I2C3_COREID
	int "The core I2C3 assigned"
	default 0
endif

config IRQ_COREID_SET
	bool "Enable IRQ for BareMetal"
	depends on BAREMETAL && IRQ
	default n

endmenu
