#
# BareMetal configuration
#

menu "BareMetal"

config BAREMETAL
	bool "Support BareMetal features"
	help
	  This provides a command to start BareMetal on slave
	  cores, and add some features to support BareMetal.

if BAREMETAL

config BAREMETAL_SLAVE_MODE
	bool "The slave core running BareMetal binary"
	default n
	help
	  the slave mode running on the slave cores

endif

config GPIO_COREID_SET
	bool "Enable GPIO for BareMetal"
	depends on BAREMETAL
if GPIO_COREID_SET
config GPIO_GPIO0_COREID
	int "The core GPIO0 assigned"
	default 0

config GPIO_GPIO1_COREID
	int "The core GPIO1 assigned"
	default 0

config GPIO_GPIO2_COREID
	int "The core GPIO2 assigned"
	default 0
endif

endmenu
