if TARGET_LS1021AIOT

config SYS_BOARD
	default "ls1021aiot"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "ls102xa"

config SYS_CONFIG_NAME
	default "ls1021aiot"

config BM_CAN
	bool "Can3/4 supported"
	depends on BAREMETAL

config BM_GPIO
	bool "GPIO3_15/27 supported"
	depends on BAREMETAL

source "board/freescale/common/Kconfig"

endif
